DJANGO_SECRET_KEY="your django secret key"

PG_NAME="your postgresql db name"
PG_USER="your postgresql username"
PG_PASSWORD="your postgresql password"
PG_HOST="your hostname"
PG_PORT="your postgresql port"
